@import 'src/scss/settings/mixins';
@import 'src/scss/settings/font';

.blogContainer {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  font-family: $font-second;
  text-align: center;
  font-weight: 300;
  .questionList {
    .blogList {
      margin: 1rem 0 4rem 0;
      .decorationBar {
        margin-bottom: 2rem;
        border-bottom: 1px solid black;
      }
      p:nth-last-child(2) {
        margin-top: 4rem;
        text-transform: uppercase;
        font-weight: 400;
      }
      p:nth-last-child(1) {
        margin-top: 3rem;
      }
    }
  }
}

@include mobile {
  .blogContainer {
    padding-top: 7.1rem;
  }
}
