.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  .imgContainer {
    width: calc(15% - 1rem);
    min-width: 30rem;
    height: 50rem;
    margin: 2rem auto;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 1;
    }
  }
}
